[project]
name = "splatbot"
version = "0.1.0"
description = "Automate plotting detailed posts in Splatoon wirelessly based on BlueZ, and optimize its efficiency by treating the process as a variant of Traveling Salesman Problem (TSP)."
readme = "README.md"
authors = [{name = "necusjz", email = "necusjz@gmail.com"}]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
]
requires-python = ">=3.8"
dependencies = [
    "click>=8.1.3",
    "numpy>=1.23.2",
    "nxbt>=0.1.4",
    "Pillow>=9.2.0",
]

[project.scripts]
splatbot = "splatbot.cli:main"

[build-system]
requires = ["flit_core<4"]
build-backend = "flit_core.buildapi"

[tool.flit.module]
name = "splatbot"
